<!-- new.component.html -->

 <!-- New Section -->
 <section class="new-section">
    <div class="container">
      <div class="test">
        <h1>Nous découvrir</h1>
        <h2 class="text-center mb-4">Nouveau(s)</h2>
    
        <div class="row">
          <!-- Solutions par type de site -->
          <div class="col-md-8 d-flex">
              <a href="img/im.jpeg" class="text-decoration-none text-white" id="y">
                  <h3 class="mb-3 custom-font-size">Nouveautés</h3>
              </a>
              <a href="img/im.jpeg" class="text-decoration-none text-white" id="y">
                  <h3 class="mb-3 custom-font-size">Solutions par type de site</h3>
              </a>
              <a href="img/im.jpeg" class="text-decoration-none text-white" id="y">
                  <h3 class="mb-3 custom-font-size">Catégories de produits</h3>
              </a>
              <style>
                #y {
                transition: transform 0.3s ease; /* Animation de transition */
            }
        
            #y:hover {
                transform: scale(1.05); /* Effet de zoom au survol */
            }

              </style>
              
          </div>
      </div>
      
      <style>
          .custom-font-size {
              font-size: 1.2rem; /* Taille de police personnalisée */
          }
      </style>
    </div>
        
        
    <div class="row">
      <!-- Bloc d'alimentation alternative -->
      <div class="col-md-4 text-center mt-5">
          <img src="img/im.jpeg" alt="Bloc d'alimentation 12V pour NVR" class="img-fluid mb-3" width="200">
          <h3>12V PSU for NVR</h3>
          <p>Découvrez un bloc d'alimentation alternative pour l'enregistreur vidéo Ajax</p>
      </div>
  
      <!-- Lancement des caméras Ajax -->
      <div class="col-md-4 text-center mt-5">
          <img src="img/im.jpeg" alt="Caméras Ajax" class="img-fluid mb-3" width="200">
          <h3>Lancement : Les caméras Ajax sont disponibles à la commande</h3>
          <p>Intelligence et confidentialité intégrées</p>
      </div>
  
      <!-- Troisième image -->
      <div class="col-md-4 text-center mt-5">
          <img src="img/im.jpeg" alt="Caméras Ajax" class="img-fluid mb-3" width="200">
          <h3>Lancement : Les caméras Ajax sont disponibles à la commande</h3>
          <p>Intelligence et confidentialité intégrées</p>
      </div>
  </div>