<section class="container py-5">
    <!-- Titre principal -->
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1>FAQ</h1>
        </div>
    </div>

    <!-- Liste des questions -->
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action border-0 py-3">
                    Quels sont les meilleurs moyens de sécuriser une propriété inoccupée ?
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0 py-3">
                    Quels sont les types de systèmes de sécurité les mieux adaptés aux propriétés dépourvues d'alimentation électrique ?
                </a> <!-- J'ai ajouté la balise de fermeture ici -->
                <a href="#" class="list-group-item list-group-item-action border-0 py-3">
                    Comment puis-je garder un œil sur ma propriété inoccupée à distance ?
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0 py-3">
                    Que faut-il rechercher dans un système de sécurité pour une maison inoccupée ?
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0 py-3 fw-bold">
                    Afficher plus
                </a>
            </div>
        </div>
    </div>
</section>