<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" routerLink="/">
            <img src="assets/images/LOGO_PNG.png" alt="Logo APTE" height="40">
        </a>

        <!-- Bouton toggle mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenu de la navbar -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Menu principal centré -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-2">
                    <a routerLink="produits" class="nav-link">Produits</a>
                </li>
                
                <!-- Menu déroulant Solutions -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" id="solutionsDropdown" 
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Solutions
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="solutionsDropdown">
                        <li><a routerLink="apartement" class="dropdown-item">Appartements</a></li>
                        <li><a routerLink="maisonprive" class="dropdown-item">Maisons privées</a></li>
                        <li><a routerLink="proprieteinoccupe" class="dropdown-item">Propriétés inoccupées</a></li>
                    </ul>
                </li>
                
                <li class="nav-item mx-2">
                    <a routerLink="assistance" class="nav-link">Assistance</a>
                </li>
                <li class="nav-item mx-2">
                    <a routerLink="entreprise" class="nav-link">Entreprise</a>
                </li>
                <li class="nav-item mx-2">
                    <a routerLink="blog" class="nav-link">Blog</a>
                </li>
                <li class="nav-item mx-2">
                    <a routerLink="acheter" class="nav-link">Où acheter</a>
                </li>
            </ul>

            <!-- Bouton CTA aligné à droite -->
            <div class="d-flex">
                <a routerLink="assembler-kit" class="btn btn-outline-light">Assembler le kit</a>
            </div>
        </div>
    </div>
</nav>