<app-navbar></app-navbar>
    <div class="container-fluid mt-4">
         
         <app-apparte></app-apparte>
         <app-pourquoiajax></app-pourquoiajax>
         <app-repondbesoin></app-repondbesoin>
         <app-relevedefis></app-relevedefis>
         <app-vdpc></app-vdpc>
         <app-constsecurite></app-constsecurite>
         <app-temoinclient></app-temoinclient>
         <app-supajax></app-supajax>
         <app-realiseprojet></app-realiseprojet>
         <app-faq></app-faq>
         <app-autresolution></app-autresolution>
    </div>
    <app-footer></app-footer>