<!-- solutions.component.html -->
<section class="solutions-section">
    <div class="container">
        <h2>Aperçu des solutions</h2>
        <p>
            Découvrez nos solutions complètes pour divers types de sites, ainsi que les témoignages de nos clients et partenaires.
            Composez votre propre kit de dispositifs Ajax pour la sécurité et le confort.
        </p>

        <div class="solutions-gallery">
            <div class="solution-item">
                <img src="assets/images/ass.png" alt="Solution 1">
                <a href="#" class="solution-btn">Assemblez votre système</a>
            </div>
            <div class="solution-item">
                <img src="assets/images/siteoff.png" alt="Solution 2">
                <a href="#" class="solution-btn">Solutions par type de site</a>
            </div>
            <div class="solution-item">
                <img src="assets/images/sites.png" alt="Solution 3">
                <a href="#" class="solution-btn">Témoignages clients</a>
            </div>
            <div class="solution-item">
                <img src="assets/images/produits.png" alt="Solution 4">
                <a href="#" class="solution-btn">Produits Apte Ready</a>
            </div>
        </div>
        
    </div>
</section>
