<app-navbar></app-navbar>
    <div class="container-fluid mt-4">
        <app-soushero></app-soushero>
        <app-souspourajax></app-souspourajax>
        <app-sousrepondbesoin></app-sousrepondbesoin>
        <app-sousrelevedefis></app-sousrelevedefis>
        <app-sousecurite></app-sousecurite>
        <app-sousdection></app-sousdection>
        <app-sousconsecurite></app-sousconsecurite>
        <app-soustemoin></app-soustemoin>
        <app-sousplusupervisoir></app-sousplusupervisoir>
        <app-sousrealiseprojet></app-sousrealiseprojet>
        <app-sousautresolu></app-sousautresolu>
         
    </div>
    <app-footer></app-footer>
