<section>
    <div class="container py-4">
        <!-- Titre principal -->
       

        <div class="row mb-3">
            <div class="col-md-3">
                <p class="fw-bold">Vidéosurveillance</p>
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
        </div>


        <!-- Première ligne -->
        <div class="row mb-3">
            <div class="col-md-3">
                <p class="fw-bold">Détection d'incendie</p>
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
        </div>

        <!-- Deuxième ligne -->
        <div class="row mb-3">
            <div class="col-md-3">
                <p class="fw-bold">Prévention des inondations</p>
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
        </div>

        <!-- Troisième ligne -->
        <div class="row">
            <div class="col-md-3">
                <p class="fw-bold">Confort et productivité</p>
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
            <div class="col-md-3">
                <!-- Colonne vide -->
            </div>
        </div>
    </div>
</section>
