 <!-- Répondre à tous les besoins Section -->
 <section class="py-5 bg-black">
    <div class="container">
        <h1 class="text-center display-5 mb-5">Répondre à tous les besoins</h1>
        
        <div class="row g-4">
            <div class="col-md-4 text-center">
                <img src="assets/images/camera.jpg" class="w-100 h-200 object-fit-cover rounded mb-3" alt="Séjour">
                <h3 class="h4">Séjour</h3>
            </div>
            
            <div class="col-md-4 text-center">
                <img src="assets/images/camera.jpg" class="w-100 h-200 object-fit-cover rounded mb-3" alt="Salle de bains">
                <h3 class="h4">Salle de bains</h3>
            </div>
            
            <div class="col-md-4 text-center">
                <img src="assets/images/camera.jpg" class="w-100 h-200 object-fit-cover rounded mb-3" alt="Chambre des enfants">
                <h3 class="h4">Chambre des enfants</h3>
            </div>
        </div>
    </div>
</section>
