<app-navbar></app-navbar>
    <div class="container-fluid mt-4">
        <app-prohero></app-prohero>
        <app-propourquoiajax></app-propourquoiajax>
        <app-profortifier></app-profortifier>
        <app-prorelevedefis></app-prorelevedefis>
        <app-prosecureins></app-prosecureins>
        <app-proconsecure></app-proconsecure>
        <app-protemoinclient></app-protemoinclient>
        <app-prosubplus></app-prosubplus>
        <app-prorealisesimi></app-prorealisesimi>
        <app-profac></app-profac>
        <app-proautresol></app-proautresol>
    </div>
<app-footer></app-footer>