.hero-section {
    position: relative;
    height: 100vh; /* Ajustez la hauteur selon vos besoins */
    background-image: url('img/camera.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}